# # VerificationResults

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**name** | [**Verification**](Verification.md) | Credit card holder name result | [optional]
**security_code** | [**Verification**](Verification.md) | Credit card security code result | [optional]
**address_street** | [**Verification**](Verification.md) | Credit card billing address street result | [optional]
**address_postal_code** | [**Verification**](Verification.md) | Credit card billing address postal code result | [optional]
**three_d_secure_v2** | [**Verification**](Verification.md) | Credit card 3-D secure authentication V2 result | [optional]
**cryptogram_security** | [**Verification**](Verification.md) | Credit card eWallet authentication result | [optional]

[[Back to Model list]](../../README.md#models) [[Back to API list]](../../README.md#endpoints) [[Back to README]](../../README.md)
